pipeline/PL_LAB_34_COPYDATA_SALESFORCE_GEN2.json
{
	"name": "PL_LAB_34_COPYDATA_SALESFORCE_GEN2",
	"properties": {
		"activities": [
			{
				"name": "LOOK UP METADATA - SALES FORCE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"readBehavior": "query"
					},
					"dataset": {
						"referenceName": "DS_SALESFORCE_INPTUT_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOREACH - LOOP THROUGH METADATA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOK UP METADATA - SALES FORCE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOK UP METADATA - SALES FORCE').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA FROM SALES FORCE TO GEN2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SalesforceSource",
									"readBehavior": "query"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SOURCE_INPUT_SALESFORCE",
									"type": "DatasetReference",
									"parameters": {
										"DS_SOURCE_TABLE_PARAM": {
											"value": "@item().sourcenam__c",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZGEN2_FROM_SALES_FORCE_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"DS_SINK_TABLE_PARAM": {
											"value": "@item().sinkname__c",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-19T20:21:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}