pipeline/PL_LAB_52_DATABRICKS_INTEGRATION_ADF.json
{
	"name": "PL_LAB_52_DATABRICKS_INTEGRATION_ADF",
	"properties": {
		"activities": [
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/badarikrishnachaitanya@outlook.com/Data Bricks Integration With ADF",
					"baseParameters": {
						"l_type": "incremental",
						"p_date": "2021/07/28"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZUREDATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure - ADB Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PipelineADBLogs_usp]",
					"storedProcedureParameters": {
						"ADBURL": {
							"value": {
								"value": "@activity('Notebook').output.runPageUrl",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADFNAME": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"NotebookOutput": {
							"value": {
								"value": "@activity('Notebook').output.runOutput",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQLDB_LOG",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": []
	}
}