pipeline/PL_LAB_04_COPY_FILES_CSV_JSON_TO_RESPECTIVE_CONTAINER.json
{
	"name": "PL_LAB_04_COPY_FILES_CSV_JSON_TO_RESPECTIVE_CONTAINER",
	"properties": {
		"activities": [
			{
				"name": "GET METADATA - CSV JSON FILES CHILD ITEMS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GETMETADATA_CSV_JSON_FILES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FILTER CSV FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET METADATA - CSV JSON FILES CHILD ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET METADATA - CSV JSON FILES CHILD ITEMS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER JSON FILES",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET METADATA - CSV JSON FILES CHILD ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET METADATA - CSV JSON FILES CHILD ITEMS').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FOR EACH LOOP THROUGH CSV FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER CSV FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER CSV FILES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA - CSV FILES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZBLOB_BLOB_INPUT_PARAM_CSV_JSON",
									"type": "DatasetReference",
									"parameters": {
										"DS_SOURCE_FILE_NAME_PARAM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZBLOB_BLOB_OUTPUT_PARAM_CSV",
									"type": "DatasetReference",
									"parameters": {
										"DS_OUTPUT_PARAM_CSV_JSON": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "FOR EACH LOOP THROUGH JSON FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER JSON FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER JSON FILES').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA - JSON FILES",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZBLOB_BLOB_INPUT_PARAM_CSV_JSON",
									"type": "DatasetReference",
									"parameters": {
										"DS_SOURCE_FILE_NAME_PARAM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZBLOB_BLOB_OUTPUT_PARAM_JSON_PARAM",
									"type": "DatasetReference",
									"parameters": {
										"DS_SINK_FILE_NAME_PARAM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-07T12:43:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}