pipeline/PL_LAB_30_COPY_DATA_ON_PREMISE_SQL_AZURESYNAPSE.json
{
	"name": "PL_LAB_30_COPY_DATA_ON_PREMISE_SQL_AZURESYNAPSE",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP - TO GET ON PREMISE DATA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableName,SinkContainerName,StatusFlag FROM On_PremiseSQLTablesMetData\nWHERE StatusFlag <>'Succeeded'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ON_PREMISE_SQL_SERVER_METADATA_INPUT",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOREACH - LOOP THROUGH ONPREMISE DATA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LOOKUP - TO GET ON PREMISE DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP - TO GET ON PREMISE DATA').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPY DATA - ON PREMISE SQL TO AZURE SYNAPSE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "LS_AZGEN2_DATAFACTORY",
										"type": "LinkedServiceReference"
									},
									"path": "azuresynapseforbulkandpolybase"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_SERVER_INPUT_MULTILOAD",
									"type": "DatasetReference",
									"parameters": {
										"DS_SOURCE_DATABASE_PARAM": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZSYNAPSE_OUTPUT_MULTILOAD",
									"type": "DatasetReference",
									"parameters": {
										"DS_SINK_SYNAPSE_TABLE_PARAM": {
											"value": "@item().SinkContainerName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_UPDATE_METADATA",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY DATA - ON PREMISE SQL TO AZURE SYNAPSE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_UpdateMetadata]",
								"storedProcedureParameters": {
									"SinkContainerName": {
										"value": {
											"value": "@item().SinkContainerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StatusFlag": {
										"value": "Succeeded",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLSERVER",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_UPDATE_METADATA_FAILURE",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "COPY DATA - ON PREMISE SQL TO AZURE SYNAPSE",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_UpdateMetadata]",
								"storedProcedureParameters": {
									"SinkContainerName": {
										"value": {
											"value": "@item().SinkContainerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StatusFlag": {
										"value": "ready",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQLSERVER",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-18T07:43:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}