pipeline/PL_LAB_39_PARENT_INCREMENTAL_COPY_FILES_WITHOUT_LPV.json
{
	"name": "PL_LAB_39_PARENT_INCREMENTAL_COPY_FILES_WITHOUT_LPV",
	"properties": {
		"activities": [
			{
				"name": "GET META DATA - LOOP THROUGH FOLDERS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZGEN2_WOUT_LPV_GET_FOLDER_NAMES",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FOREACH - LOOP THROUGH FOLDERS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET META DATA - LOOP THROUGH FOLDERS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET META DATA - LOOP THROUGH FOLDERS').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXECUTE PIPELINE - LOOP THROUGH FILES",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_LAB_39_CHILD_INCREMENTAML_FILE_COPY_WITHPUT_LPV",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PL_CHILD_FOLDER_NAME_PARAM": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-22T12:07:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}