pipeline/PL_LAB_39_CHILD_INCREMENTAML_FILE_COPY_WITHPUT_LPV.json
{
	"name": "PL_LAB_39_CHILD_INCREMENTAML_FILE_COPY_WITHPUT_LPV",
	"properties": {
		"activities": [
			{
				"name": "GET META DATA - GET CHILD ITEMS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_GEN2_INPUT_GET_FILES_WOUT_LPV",
						"type": "DatasetReference",
						"parameters": {
							"DS_GETFOLDER_FOR_FILES_PARAM": {
								"value": "@pipeline().parameters.PL_CHILD_FOLDER_NAME_PARAM",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FOREACH LOOP - LOOP THROUGH FILES",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET META DATA - GET CHILD ITEMS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET META DATA - GET CHILD ITEMS').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GET METADATA - LAST MODIFIED",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_SOURCE_GETFILE_LAST_MODIFIED_WOUT_LPV",
									"type": "DatasetReference",
									"parameters": {
										"DS_SOURCE_FOLDER_NAME_PARAM": {
											"value": "@pipeline().parameters.PL_CHILD_FOLDER_NAME_PARAM",
											"type": "Expression"
										},
										"DS_SOURCE_FILE_NAME_PARAM": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "LIST ALL LAST MODIFIED VALUES FOR FILES",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "GET METADATA - LAST MODIFIED",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LADates",
								"value": {
									"value": "@activity('GET METADATA - LAST MODIFIED').output.lastModified",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GET LATEST DATE",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FOREACH LOOP - LOOP THROUGH FILES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LatestDate",
					"value": {
						"value": "@last(variables('LADates'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "COPY DATA - INCREMENTAL FILE COPY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET LATEST DATE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('LatestDate')",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_GEN2_INPUT_GET_FILES_WOUT_LPV",
						"type": "DatasetReference",
						"parameters": {
							"DS_GETFOLDER_FOR_FILES_PARAM": {
								"value": "@pipeline().parameters.PL_CHILD_FOLDER_NAME_PARAM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_GEN2_SINK_FOLDER_FILE_WOUT_LPV",
						"type": "DatasetReference",
						"parameters": {
							"DS_SINK_FOLDER_WOUTLPV_PARAM": {
								"value": "@pipeline().parameters.PL_CHILD_FOLDER_NAME_PARAM",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"PL_CHILD_FOLDER_NAME_PARAM": {
				"type": "string"
			}
		},
		"variables": {
			"LatestDate": {
				"type": "String"
			},
			"LADates": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "MASTER_PROGRAM_PIPELINES"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-22T12:10:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}